*.txt
*.pyc
Week05/celsuis2fahrenheit.py
Week05/multiple.py
Week06/test.py
Week08/element_caller.py
Week08/bank_runner.py
Week08/student_runner.py
Week08/point_runner.py
Week08/02_oop.ipynb
Week08/register_runner.py
Week08/lamp_runner.py
Week08/bank_runner2.py
Week09/circle.py
Week09/point.py
Week09/gaa_compy.py
Week09/contact_list_runner.py
Week09/contact_runner.py
Week10/01_oop.ipynb
